body{
    background-color: rgb(97, 144, 190);
}

.main
{
    margin-left: 350px;

}

.comments
{
    margin:200px 450px 15px 100px;
    background-color: red;
}

.video-recomendations
{
    margin-right:70px;
  
    background-color: rgb(165, 140, 103);
    float:right;
    
}

img
{
   height: 200px;;
   width:200px;
   margin-bottom:15px;
   margin-left: 20px;
}