body{
    background-color: rgb(97, 144, 190);
}

textarea{
    width:300px;
    height:50px;
}

.main
{
    margin-left: 350px;

}

.video-title
{
    font-size: 40px;
}

.views
{
    display:inline;
    margin-left:280px;
}
.desc
{
    display:inline;
}

.comments
{
    margin:150px 450px 15px 100px;
    background-color: rgb(75, 111, 148);
    padding:5px 5px 5px 5px;
}

.submitted-comments
{
  margin-top:40px;
}

.video-recomendations
{
    margin-right:70px;
   padding-left: 5px;
   padding-right: 5px;
    background-color: rgb(165, 140, 103);
    float:right;
    
}

img
{
   height: 200px;;
   width:200px;
   margin-bottom:15px;
   margin-left: 20px;
}